*{
    margin: 0px;
    padding: 0px;
    height: 100hv;
    /* background-image: url("homebg.jpg");
    background-repeat:no-repeat;
    background-size: cover;*/
     box-sizing: border-box;
     overflow: hidden;
     
}
.navbar{
     background-color:rgba(0, 0, 0, 0.644);
    
    
     
}

ul a{

    color:white !important;
    
    
}

ul .active:visited{
    color:chocolate !important;
}
 ul a:hover{
    color: chocolate !important ;
}

/* corousel css start */
.carousel-item{
    width: 100%;
    height: 740px;
}
.carousel-item img{
    width: 100%;
    height: 105vh;
}
.carousel-caption{
    bottom:30.25rem !important;
    left:-8% !important;

}
#carouselExampleCaptions h6{
    text-transform: capitalize;
    color: white;
    
}
/* corousel css end */
.navbar-brand{
    line-height: 1rem;
    letter-spacing: 5px;
    outline:none;
    animation: brand 5s linear infinite;
}
@keyframes brand{
    
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color:slategray;
        text-shadow: none;
    }
    18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
          color:white;
          text-shadow:0 0 10px rgba(0, 0, 128, 0.63),
            0 0 20px navy,
            0 0 40px navy,
            0 0 60px navy,
            0 0 120px navy;
    }
}
h5{
    color: white;
    /* margin-top: 8rem ; */
    /* margin-left: 10rem ; */
}
p{
    /* margin-left: 10rem ; */
    color:white !important;
}

 h5 span{
    
    letter-spacing: 10px;
    
    text-transform: uppercase;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(0, 0, 0, 0.815)); */
    line-height: 3rem;
    outline:none;
    animation: h5 5s linear infinite;
}
@keyframes h5{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color:rgba(255, 255, 255, 0.445);
        text-shadow: none;
    }
    18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color:rgba(210, 105, 30, 0.87);
        text-shadow: 0 0 10px white,
        0 0 20px white,
        0 0 40px white,
        0 0 60px white,
        0 0 120px white;
    }
}
